{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
{{else}}           
	{{if eq .Site.Language.Lang "fr"}}
		<h1>Personaliser la page d'accueil</h1>
		<p>
		  Le site fonctionne. Ne pas oublier de personaliser cette page avec votre propre contenu. 3 manières de faire :
		</p>
		<ul>
			<li><b>1. </b> Créer un fichier _index.md dans le dossier <b>content</b> et le remplir de Markdown</li>
			<li><b>2. </b> Créer un fichier index.html dans le dossier <b>static</b> et le remplir de code HTML</li>
		  <li><b>3. </b> Configurer le serveur http pour rediriger automatiquement la homepage vers la page de votre choix dans le site</li>
		</ul>
	{{else}}
		<h1>under construction</h1>
		<lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_y9czxcb9.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; align-items: center;" loop autoplay></lottie-player>
		
		<!-- <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_n7eytpy8.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
	 -->
		
		
				<p>
		  Team Hastham
		</p>
		<ul>
			
		</ul>
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	{{end}}
{{ end }}  
{{ partial "footer.html" . }}
